@model IEnumerable<Core.Model.Item>
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

<div class="card-body" style="padding-left: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#itemSearch">@LanguagePack.ItemSearch</div>

                <div id="itemSearch" class="card-body collapse" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="serialNumber" type="text" class="form-control" placeholder="@LanguagePack.SerialNumberLabel" /> @LanguagePack.SerialNumberLabel
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="productName" type="text" class="form-control" placeholder="@LanguagePack.ProductNameLabel" /> @LanguagePack.ProductNameLabel
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="barcode" type="number" class="form-control" placeholder="@LanguagePack.ProductBarcodeLabel" value="0" min="0" /> @LanguagePack.ProductBarcodeLabel
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#itemList">@LanguagePack.Items</div>

                <div id="itemList" class="card-body collapse show" style="padding-left: 20px;">
                    <table id="itemTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @LanguagePack.QuantityLabel
                                </th>
                                <th>
                                    @LanguagePack.SerialNumberLabel
                                </th>
                                <th>
                                    @LanguagePack.ProductNameLabel
                                </th>
                                <th>
                                    @LanguagePack.ProductBarcodeLabel
                                </th>
                                <th>
                                    @LanguagePack.ItemIncomingPriceLabel
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Item/Select")