@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;
@{

    var viewControlerName = ViewContext.RouteData.Values["controller"].ToString();
    if (viewControlerName != "Login")
    {
        if (Session["ID"] == null)
        {
            Response.Redirect("~/Login/Index");
        }
    }
    


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loading")
    @Scripts.Render("~/bundles/language")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="/Resources/Images/Means.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Means
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink(LanguagePack.About, "About", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(LanguagePack.Contact, "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(LanguagePack.InvoiceList, "Index", "Invoice", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(LanguagePack.Items, "Index", "Item", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink(LanguagePack.JobList, "Index", "Job", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                </ul>
                
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(LanguagePack.LogOff, "Index", "Login", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
            <li>@Session["Username"].ToString()</li>
        </ul>
        <div class="float-lg-right">
            <div class="btn-group navbar-collapse">
                <button aria-expanded="true" data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" type="button">@LanguagePack.SelectLanguage<b class="caret"></b></button>
                <ul class="dropdown-menu">
                    <li style="margin: 10px">
                        <div class="container" id="ChangeLanguageEn">
                            <img src="~/Resources/Images/english-flag.png" style="width: 70px; height: 40px" class="image" alt="@LanguagePack.English" />
                            <div class="overlay">
                                <div class="text">@LanguagePack.English</div>
                            </div>
                        </div>
                    </li>
                    <li style="margin: 10px">
                        <div class="container" id="ChangeLanguageLv">
                            <img src="~/Resources/Images/latvian-flag.jpg" style="width: 70px; height: 40px" class="image" alt="@LanguagePack.Latvian" />
                            <div class="overlay">
                                <div class="text">@LanguagePack.Latvian</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Phaethon</p>
        </footer>
    </div>

    @* element for the loading animation *@
    <div class="modal" align="center" style="display: none">
        <div class="h-100 row align-items-center">
            <div class="col">
                <div class="spinner"></div>
                <div class="spinner-center"></div>
                <div class="loading-text">Loading...</div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>