@using WebClient.Controllers
@using a = WebClient.Resources.Language_Files.LanguagePack;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="/Content/Img/Means.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Means
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink(a.About, "About", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Invoice List", "Index", "Invoice", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Job List", "Index", "Job", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                </ul>
                <div class="float-lg-right">
                    <div class="btn-group navbar-collapse"><button aria-expanded="true" data-toggle="dropdown" class="btn btn-primary btn-lg dropdown-toggle" type="button">@a.SelectLanguage<b class="caret"></b></button>
                        <ul class="dropdown-menu">
                            <li style="margin: 10px">
                                <div class="container" id="ChangeLanguageEn">
                                    <img src="~/Resources/Images/english-flag.png" style="width: 70px; height: 40px" class="image" alt="@a.English" />
                                    <div class="overlay">
                                        <div class="text">@a.English</div>
                                    </div>
                                </div>
                            </li>
                            <li style="margin: 10px">
                                <div class="container" id="ChangeLanguageLv">
                                    <img src="~/Resources/Images/latvian-flag.jpg" style="width: 70px; height: 40px" class="image" alt="@a.Latvian" />
                                    <div class="overlay">
                                        <div class="text">@a.Latvian</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Phaethon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/changeLanguage")
    @RenderSection("scripts", required: false)
</body>
</html>