@{
    ViewBag.Title = LanguagePack.Contact;
}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @LanguagePack.ContactPageStreetAndNumber<br />
    @LanguagePack.ContactPageCityAndCountry<br />
    <abbr title="@LanguagePack.ContactPagePhone">@LanguagePack.ContactPagePhone</abbr>
    @LanguagePack.ContactPagePhoneNumber/
</address>

<address>
    <strong>@LanguagePack.ContactPageSupport:</strong>   <a href="mailto:Support@example.com">@LanguagePack.ContactPageSupportEmail</a>
</address>