@{
    ViewBag.Title = LanguagePack.Contact;
}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @LanguagePack.StreetAndNumber<br />
    @LanguagePack.CityAndCountry<br />
    <abbr title="@LanguagePack.Phone">@LanguagePack.Phone</abbr>
    @LanguagePack.PhoneNumber/
</address>

<address>
    <strong>@LanguagePack.Support:</strong>   <a href="mailto:Support@example.com">@LanguagePack.SupportEmail</a>
</address>