@{
    ViewBag.Title = a.Contact;
}
@using a = WebClient.Resources.Language_Files.LanguagePack;
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @a.ContactPageStreetAndNumber<br />
    @a.ContactPageCityAndCountry<br />
    <abbr title="@a.ContactPagePhone">@a.ContactPagePhone</abbr>
    @a.ContactPagePhoneNumber/
</address>

<address>
    <strong>@a.ContactPageSupport:</strong>   <a href="mailto:Support@example.com">@a.ContactPageSupportEmail</a>
</address>