@model Core.Model.Job
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editJobPartial", target = "_blank" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Customer.ID)
    @Html.HiddenFor(model => model.Customer.Address.ID)
    <div id="editJobPartial">
        <strong>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="card">
                <div class="card-header">
                    @LanguagePack.JobDetails
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            @LanguagePack.JobID
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @required = "required" }, @readonly = "readonly", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.Job_Name
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.StartedTime
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.StartedTime, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.StartedTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.FinishedTime
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FinishedTime, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.FinishedTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.Cost
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.Job_Status
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.JobStatus, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.JobStatus, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @LanguagePack.Job_Description
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        @LanguagePack.CustomerDetails
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                @LanguagePack.CustomerID
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Customer.ID, new { htmlAttributes = new { @class = "form-control", @required = "required" }, @readonly = "readonly", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.GivenName
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.GivenName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.GivenName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.FamilyName
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.FamilyName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.FamilyName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.Email
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.Phone
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        @LanguagePack.AddressDetails
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                @LanguagePack.AddressID
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Customer.Address.ID, new { htmlAttributes = new { @class = "form-control", @required = "required" }, @readonly = "readonly", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.City
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Address.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.Street
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Address.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Address.Street, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.Street_Number
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Address.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Address.Number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @LanguagePack.Extra
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Customer.Address.Extra, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Customer.Address.Extra, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </strong>
    </div>
}