@model IEnumerable<Core.Model.Job>
@Styles.Render("~/Content/Daterangepicker")
@{ViewBag.Title = "Index";}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;


<div class="card-body" style="padding-left: 20px;">
    
    <script>
         var languagePack = "@LanguagePack.Edit";
     </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#jobSearch">@LanguagePack.JobSearchCardTitle<div style="float: right"><input id="numOfRecords" type="number" class="form-control" value="10"/></div></div>
                <div id="jobSearch" class="card-body collapse show" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info">
                                        <input type="checkbox" name="jobStatus" value="1"> @LanguagePack.JobStatusUnassigned
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="checkbox" name="jobStatus" value="2"> @LanguagePack.JobStatusInProggress
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="checkbox" name="jobStatus" value="3"> @LanguagePack.JobStatusDone
                                    </label>
                                </div>
                                <datalist id="jobs"></datalist>

                            </div>

                            <div class="form-group">
                                <input id="jobName" type="text" class="form-control" list="jobs" placeholder="@LanguagePack.JobNamePlaceHolder"/>
                            </div>

                            <div class="form-group">
                                <input id="jobId" type="text" class="form-control" placeholder="@LanguagePack.JobIdPlaceHolder"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info active">
                                        <input type="radio" name="dateOption" value="0" checked> @LanguagePack.StartedTimePlaceHolder
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="dateOption" value="1">@LanguagePack.FinishedTimePlaceHolder
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input id="dateRange" type="datetime" class="datepicker form-control" placeholder="Date Range"/>
                            </div>

                            <div class="form-group">
                                <input id="customerName" type="text" class="form-control" list="customers" placeholder="@LanguagePack.CustomerNamePlaceHolder"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="description" type="text" class="form-control" list="jobs" placeholder="@LanguagePack.JobDescriptionPlaceHolder"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" style="display: none"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;">@LanguagePack.Jobs
                    <div style="float: right"><Button class="btn" id="NewJob">@LanguagePack.NewJob</Button></div></div>
                <div class="card-body" style="padding-left: 20px;">
                    <table id="jobTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                @LanguagePack.JobIdPlaceHolder
                            </th>
                            <th>
                                @LanguagePack.JobNamePlaceHolder
                            </th>
                            <th>
                                @LanguagePack.StartedTimePlaceHolder
                            </th>
                            <th>
                                @LanguagePack.FinishedTimePlaceHolder
                            </th>
                            <th>
                                @LanguagePack.Cost
                            </th>
                            <th>
                                @LanguagePack.JobStatus
                            </th>
                            <th>
                                @LanguagePack.CustomerNamePlaceHolder
                            </th>
                            <th>
                                @LanguagePack.JobDescriptionPlaceHolder
                            </th>
                            <th>
                                @LanguagePack.NotificationStatus
                            </th>
                        </tr>
                        </thead>

                        <tbody><tr></tr></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Job")