@model IEnumerable<Core.Model.Job>
@Styles.Render("~/Content/dateRangePicker")
@{ViewBag.Title = "Index";}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;


<div class="card-body" style="padding-left: 20px;">
    
    <script>
        var editLabel = "@LanguagePack.Edit";
        var viewDetails = "@LanguagePack.ViewDetails";
        var cancel = "@LanguagePack.Cancel";
        var save = "@LanguagePack.Save";
     </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#jobSearch">@LanguagePack.JobSearch<div style="float: right"><input id="numOfRecords" type="number" class="form-control" value="10"/></div></div>
                <div id="jobSearch" class="card-body collapse show" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="1"> @LanguagePack.Job_StatusUnassigned
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="2"> @LanguagePack.Job_StatusInProggress
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="3"> @LanguagePack.Job_StatusDone
                                    </label>
                                </div>
                                <datalist id="jobs"></datalist>

                            </div>

                            <div class="form-group">
                                <input id="jobName" type="text" class="form-control" list="jobs" placeholder="@LanguagePack.Job_Name"/>
                            </div>

                            <div class="form-group">
                                <input id="jobId" type="text" class="form-control" placeholder="@LanguagePack.JobID"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info active">
                                        <input type="radio" name="dateOption" value="0" checked> @LanguagePack.StartedTime
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="dateOption" value="1">@LanguagePack.FinishedTime
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input id="dateRange" type="datetime" class="datepicker form-control" placeholder="Date Range"/>
                            </div>

                            <div class="form-group">
                                <input id="customerName" type="text" class="form-control" list="customers" placeholder="@LanguagePack.GivenName"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="description" type="text" class="form-control" list="jobs" placeholder="@LanguagePack.Job_Description"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" style="display: none"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;">@LanguagePack.Jobs
                    <div style="float: right"><Button class="btn" id="NewJob">@LanguagePack.NewJob</Button></div></div>
                <div class="card-body" style="padding-left: 20px; overflow: inherit">
                    <table id="jobTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @LanguagePack.JobID
                                </th>
                                <th>
                                    @LanguagePack.Job_Name
                                </th>
                                <th>
                                    @LanguagePack.StartedTime
                                </th>
                                <th>
                                    @LanguagePack.FinishedTime
                                </th>
                                <th>
                                    @LanguagePack.Cost
                                </th>
                                <th>
                                    @LanguagePack.Job_Status
                                </th>
                                <th>
                                    @LanguagePack.GivenName
                                </th>
                                <th>
                                    @LanguagePack.Job_Description
                                </th>
                                <th>
                                    @LanguagePack.NotificationStatus
                                </th>
                                <th>
                                    @LanguagePack.Action
                                </th>
                            </tr>
                        </thead>

                        <tbody><tr></tr></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Job")
@Scripts.Render("~/bundles/dateRangePicker")