@model Core.Model.Invoice
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

<div class="row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Incoming)
    
    <div class="col-sm">
        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.DocumentNumberPlaceholder</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.DocNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.DocNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.RegistrationNumber</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.RegNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.RegNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.TransportCostLabel</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Transport, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Transport, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.PrescriptionDateLabel</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.PrescriptionDate, new { htmlAttributes = new { @class = "form-control date-picker", @required = "required", onkeydown = "return false", onpaste = "return false" } })
                @Html.ValidationMessageFor(model => model.PrescriptionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.ReceptionDateLabel</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.ReceptionDate, new { htmlAttributes = new { @class = "form-control date-picker", @required = "required", onkeydown = "return false", onpaste = "return false" } })
                @Html.ValidationMessageFor(model => model.ReceptionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-form-label col-md-12">@LanguagePack.PaymentDateLabel</div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control date-picker", @required = "required", onkeydown = "return false", onpaste = "return false" } })
                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card" style="height: 130px; height: auto;">
            <div class="card-header" style="clear:both;" data-toggle="collapse" href="#receivingLocation">@LanguagePack.CompanyLocationLabel</div>
            <div id="receivingLocation" class="card-body collapse" style="padding-left: 20px;">
                @Html.HiddenFor(model => model.ReceiverLocation.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="ReceiverLocation_City">@LanguagePack.AddressCityPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ReceiverLocation.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ReceiverLocation.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="ReceiverLocation_Street">@LanguagePack.AddressStreetPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ReceiverLocation.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ReceiverLocation.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="ReceiverLocation_Number">@LanguagePack.AddressNumberPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ReceiverLocation.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ReceiverLocation.Number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="ReceiverLocation_Extra">@LanguagePack.AddressExtraPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ReceiverLocation.Extra, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReceiverLocation.Extra, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="height: 130px; height: auto;">
            <div class="card-header" style="clear: both;" data-toggle="collapse" href="#sendingLocation">@LanguagePack.CompanyLocationLabel</div>
            <div id="sendingLocation" class="card-body collapse" style="padding-left: 20px;">
                @Html.HiddenFor(model => model.SenderLocation.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="SenderLocation_City">@LanguagePack.AddressCityPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SenderLocation.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.SenderLocation.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="SenderLocation_Street">@LanguagePack.AddressStreetPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SenderLocation.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.SenderLocation.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="SenderLocation_Number">@LanguagePack.AddressNumberPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SenderLocation.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.SenderLocation.Number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="SenderLocation_Extra">@LanguagePack.AddressExtraPlaceholder</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SenderLocation.Extra, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SenderLocation.Extra, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>