@model Core.Model.Invoice
@using Core.Model
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

<div class="row">
    <div class="col-sm">
        <div class="card" style="height: 130px; height: auto;">
            <div class="card-header" style="clear:both;" data-toggle="collapse" href="#receivingCompany">@LanguagePack.ReceiverCompany</div>
            <div id="receivingCompany" class="card-body collapse" style="padding-left: 20px;">
                <datalist id="ReceiverRepresentatives"></datalist>
                @Html.HiddenFor(model => model.Receiver.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Receiver_Name">@LanguagePack.Representative_Name</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Receiver.Name, new { htmlAttributes = new { @class = "form-control", @list = "ReceiverRepresentatives", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Receiver.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Receiver.Company.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Receiver_Company_Name">@LanguagePack.Company</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Receiver.Company.Name, new { htmlAttributes = new { @class = "form-control", @list = "companies", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Receiver.Company.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Receiver_Company_RegNumber">@LanguagePack.RegistrationNumber</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Receiver.Company.RegNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Receiver.Company.RegNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Receiver_Company_BankNumber">@LanguagePack.BankNumber</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Receiver.Company.BankNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Receiver.Company.BankNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Receiver_Company_BankName">@LanguagePack.BankName</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Receiver.Company.BankName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Receiver.Company.BankName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear:both;" data-toggle="collapse" href="#receivingCompanyActualAddress">@LanguagePack.ActualAddress</div>
                    <div id="receivingCompanyActualAddress" class="card-body collapse" style="padding-left: 20px;">
                        @Html.HiddenFor(model => model.Receiver.Company.ActualAddress.ID)
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_ActualAddress_City">@LanguagePack.City</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.ActualAddress.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.ActualAddress.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_ActualAddress_Street">@LanguagePack.Street</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.ActualAddress.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.ActualAddress.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_ActualAddress_Number">@LanguagePack.Street_Number</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.ActualAddress.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.ActualAddress.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_ActualAddress_Extra">@LanguagePack.Extra</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.ActualAddress.Extra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.ActualAddress.Extra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear:both;" data-toggle="collapse" href="#receivingCompanyLegalAddress">@LanguagePack.LegalAddress</div>
                    <div id="receivingCompanyLegalAddress" class="card-body collapse" style="padding-left: 20px;">
                        @Html.HiddenFor(model => model.Receiver.Company.LegalAddress.ID)
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_LegalAddress_City">@LanguagePack.City</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.LegalAddress.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.LegalAddress.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_LegalAddress_Street">@LanguagePack.Street</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.LegalAddress.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.LegalAddress.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_LegalAddress_Number">@LanguagePack.Street_Number</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.LegalAddress.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.LegalAddress.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Receiver_Company_LegalAddress_Extra">@LanguagePack.Extra</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Receiver.Company.LegalAddress.Extra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Receiver.Company.LegalAddress.Extra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" align="center">
                    <input id="resetReceiver" type="button" class="btn btn-danger btn-block" value="@LanguagePack.CleanInfo" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="height: 130px; height: auto;">
            <div class="card-header" style="clear:both;" data-toggle="collapse" href="#sendingCompany">@LanguagePack.SenderCompany</div>
            <div id="sendingCompany" class="card-body collapse" style="padding-left: 20px;">
                <datalist id="SenderRepresentatives"></datalist>
                @Html.HiddenFor(model => model.Sender.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Sender_Name">@LanguagePack.Representative_Name</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Sender.Name, new { htmlAttributes = new { @class = "form-control", @list = "SenderRepresentatives", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Sender.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Sender.Company.ID)
                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Sender_Company_Name">@LanguagePack.Company</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Sender.Company.Name, new { htmlAttributes = new { @class = "form-control", @list = "companies", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Sender.Company.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Sender_Company_RegNumber">@LanguagePack.RegistrationNumber</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Sender.Company.RegNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Sender.Company.RegNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Sender_Company_BankNumber">@LanguagePack.BankNumber</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Sender.Company.BankNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Sender.Company.BankNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-4" for="Sender_Company_BankName">@LanguagePack.BankName</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Sender.Company.BankName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Sender.Company.BankName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear:both;" data-toggle="collapse" href="#sendingCompanyActualAddress">@LanguagePack.ActualAddress</div>
                    <div id="sendingCompanyActualAddress" class="card-body collapse" style="padding-left: 20px;">
                        @Html.HiddenFor(model => model.Sender.Company.ActualAddress.ID)
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_ActualAddress_City">@LanguagePack.City</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.ActualAddress.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.ActualAddress.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_ActualAddress_Street">@LanguagePack.Street</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.ActualAddress.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.ActualAddress.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_ActualAddress_Number">@LanguagePack.Street_Number</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.ActualAddress.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.ActualAddress.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_ActualAddress_Extra">@LanguagePack.Extra</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.ActualAddress.Extra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.ActualAddress.Extra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear:both;" data-toggle="collapse" href="#sendingCompanyLegalAddress">@LanguagePack.LegalAddress</div>
                    <div id="sendingCompanyLegalAddress" class="card-body collapse" style="padding-left: 20px;">
                        @Html.HiddenFor(model => model.Sender.Company.LegalAddress.ID)
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_LegalAddress_City">@LanguagePack.City</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.LegalAddress.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.LegalAddress.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_LegalAddress_Street">@LanguagePack.Street</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.LegalAddress.Street, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.LegalAddress.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_LegalAddress_Number">@LanguagePack.Street_Number</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.LegalAddress.Number, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.LegalAddress.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="Sender_Company_LegalAddress_Extra">@LanguagePack.Extra</label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Sender.Company.LegalAddress.Extra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sender.Company.LegalAddress.Extra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" align="center">
                    <input id="resetSender" type="button" class="btn btn-danger btn-block" value="@LanguagePack.CleanInfo" />
                </div>
            </div>
        </div>
    </div>
    <datalist id="companies"></datalist>
</div>