@model Core.Model.Invoice
@{ViewBag.Title = "Edit";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-body" style="padding-left: 20px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="height: 130px; height: auto;">
                    <div class="panel-heading" style="clear:both;" data-toggle="collapse" href="#invoiceInfo">Invoice Info</div>

                    <div id="invoiceInfo" class="panel-body collapse" style="padding-left: 20px;">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.DocNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DocNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DocNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PrescriptionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PrescriptionDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrescriptionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceptionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ReceptionDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReceptionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Transport, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Transport, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Transport, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="panel panel-default" style="height: 130px; height: auto;">
                                <div class="panel-heading" style="clear:both;" data-toggle="collapse" href="#receivingCompany">Receiving company</div>

                                <div id="receivingCompany" class="panel-body collapse" style="padding-left: 20px;">
                                    <div class="form-horizontal">

                                        @Html.HiddenFor(model => model.Receiver.ID)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Name, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Name, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        @Html.HiddenFor(model => model.Receiver.Company.ID)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Company.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Company.Name, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Company.Name, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Company.BankNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Company.BankNumber, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Company.BankNumber, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Company.RegNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Company.RegNumber, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Company.RegNumber, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Company.Address, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Company.Address, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Company.Address, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Receiver.Company.Location, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Receiver.Company.Location, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Receiver.Company.Location, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="panel panel-default" style="height: 130px; height: auto;">
                                <div class="panel-heading" style="clear:both;" data-toggle="collapse" href="#sendingCompany">Sending company</div>

                                <div id="sendingCompany" class="panel-body collapse" style="padding-left: 20px;">
                                    <div class="form-horizontal">

                                        @Html.HiddenFor(model => model.Sender.ID)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Name, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Name, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        @Html.HiddenFor(model => model.Sender.Company.ID)
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Company.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Company.Name, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Company.Name, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Company.BankNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Company.BankNumber, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Company.BankNumber, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Company.RegNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Company.RegNumber, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Company.RegNumber, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Company.Address, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Company.Address, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Company.Address, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Sender.Company.Location, htmlAttributes: new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Sender.Company.Location, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Sender.Company.Location, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default" style="height: 130px; overflow: hidden;">
                    <div class="panel-heading" style="clear: both;">Products</div>

                    <div class="panel-body" style="padding-left: 20px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block"/>
                </div>
            </div>
        </div>
    </div>
}