@model Core.Model.Invoice
@{ViewBag.Title = "Edit";}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

@using (Html.BeginForm("Edit","Invoice"))
{
    @Html.AntiForgeryToken()
    <div class="card-body" style="padding-left: 20px;">
        <div id="dialog" style="display: none">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear:both;" data-toggle="collapse" href="#invoiceInfo">@LanguagePack.InvoiceInfoLabel</div>

                    <div id="invoiceInfo" class="card-body collapse" style="padding-left: 20px;">
                        @{ Html.RenderPartial("_editInvoice", Model); }
                        @{ Html.RenderPartial("_editCompanies", Model); }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="height: 130px; height: auto;">
                    <div class="card-header" style="clear: both;" data-toggle="collapse" href="#products">@LanguagePack.ProductsLabel</div>

                    <div id="products" class="card-body collapse show" style="padding-left: 20px;">
                        @{ Html.RenderPartial("_editItems", Model); }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <input type="submit" value="@LanguagePack.Save" class="btn btn-primary btn-lg btn-block"/>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/Invoice/Edit")