@model Core.Model.Invoice
@Styles.Render("~/Content/dateRangePicker")
@{ViewBag.Title = "Index";}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

<div class="card-body" style="padding-left: 20px;">
    <script>
        var incoming = "@LanguagePack.Incoming";
        var outgoing = "@LanguagePack.Outgoing";
        var deleteLabel = "@LanguagePack.DeleteButton";
        var details = "@LanguagePack.Details";
    </script>
    <div id="dialog" style="display: none">
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#invoiceSearch">@LanguagePack.InvoiceSearch</div>

                <div id="invoiceSearch" class="card-body collapse show" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="regNumber" type="text" class="form-control" placeholder="@LanguagePack.RegistrationNumber" /> @LanguagePack.RegistrationNumber
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="invoiceNumber" type="text" class="form-control" placeholder="@LanguagePack.InvoiceNumber" /> @LanguagePack.InvoiceNumber
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="dateRange" type="datetime" class="daterange form-control"/> @LanguagePack.Date
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="company" type="text" class="form-control" list="companies" placeholder="@LanguagePack.Company" /> @LanguagePack.Company
                                <datalist id="companies"></datalist>
                            </label>
                        </div>

                        <div class="col-sm">
                            <label class="btn btn-info active">
                                <input id="sum" type="number" class="form-control" placeholder="@LanguagePack.Sum" /> @LanguagePack.Sum
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#invoiceList"> @LanguagePack.Invoices
                    <div style="float: right"><Input type="button" id="newInvoice" class="btn" value="@LanguagePack.NewInvoiceButton"></div>
                </div>

                <div id="invoiceList" class="card-body collapse show" style="padding-left: 20px;">
                    <table id="invoiceTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @LanguagePack.RegistrationNumber
                                </th>
                                <th>
                                    @LanguagePack.InvoiceNumber
                                </th>
                                <th>
                                    @LanguagePack.InvoiceType
                                </th>
                                <th>
                                    @LanguagePack.Date
                                </th>
                                <th>
                                    @LanguagePack.Company
                                </th>
                                <th>
                                    @LanguagePack.Sum
                                </th>
                                <th>
                                    @LanguagePack.SumNoTax
                                </th>
                                <th>
                                    <input id="numOfRecords" type="number" class="form-control" value="10" />
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Invoice")
@Scripts.Render("~/bundles/dateRangePicker")