@model Core.Model.Invoice
@Styles.Render("~/Content/Daterangepicker")
@{ViewBag.Title = "Index";}

<div class="card-body" style="padding-left: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#invoiceSearch">Invoice search</div>
                
                <div id="invoiceSearch" class="card-body collapse" style="padding-left: 20px;">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="dateOption" value="0" checked> @Html.DisplayNameFor(model => model.PrescriptionDate)
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="dateOption" value="1"> @Html.DisplayNameFor(model => model.ReceptionDate)
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="dateOption" value="2"> @Html.DisplayNameFor(model => model.PaymentDate)
                            </label>
                        </div>

                        <input id="dateRange" type="datetime" class="daterange form-control" />
                    </div>

                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="companyOption" value="0" checked> Receiver company
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="companyOption" value="1"> Sender company
                            </label>
                        </div>

                        <input id="companyName" type="text" class="form-control" list="companies" placeholder="Companies"/>
                        <datalist id="companies"></datalist>
                    </div>

                    <div class="form-group">
                        <input id="docNumber" type="text" class="form-control" placeholder="Document number"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;"  data-toggle="collapse" href="#invoiceList">Invoices<div style="float: right">@Html.ActionLink("New invoice", "Edit", new { id = -1 })</div></div>

                <div id="invoiceList" class="card-body collapse show" style="padding-left: 20px;">
                    <table id="invoiceTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrescriptionDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReceptionDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentDate)
                                </th>
                                <th>
                                    Sender @Html.DisplayNameFor(model => model.Sender.Company.Name)
                                </th>
                                <th>
                                    Receiver @Html.DisplayNameFor(model => model.Receiver.Company.Name)
                                </th>
                                <th>
                                    <input id="numOfRecords" type="number" class="form-control" value="10"/>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Invoice")