@model Core.Model.Invoice
@Styles.Render("~/Content/Daterangepicker")
@{ViewBag.Title = "Index";}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;

<div class="card-body" style="padding-left: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#invoiceSearch">Invoice search</div>

                <div id="invoiceSearch" class="card-body collapse" style="padding-left: 20px;">
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="dateOption" value="0" checked> @LanguagePack.InvoiceIndexPrescriptionDateLabel
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="dateOption" value="1"> @LanguagePack.InvoiceIndexReceptionDateLabel
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="dateOption" value="2"> @LanguagePack.InvoiceIndexPaymentDateLabel
                            </label>
                        </div>

                        <input id="dateRange" type="datetime" class="daterange form-control" />
                    </div>

                    <div class="form-group">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="companyOption" value="0" checked> @LanguagePack.InvoiceIndexReceiverCompanyLabel
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="companyOption" value="1"> @LanguagePack.InvoiceIndexSenderCompanyLabel
                            </label>
                        </div>

                        <input id="companyName" type="text" class="form-control" list="companies" placeholder="@LanguagePack.InvoiceIndexCompaniesPlaceholder" />
                        <datalist id="companies"></datalist>
                    </div>

                    <div class="form-group">
                        <input id="docNumber" type="text" class="form-control" placeholder="@LanguagePack.InvoiceIndexDocumentNumberPlaceholder" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#invoiceList">Invoices<div style="float: right">@Html.ActionLink(LanguagePack.InvoiceIndexNewInvoiceButton, "Edit", new { id = 0 })</div></div>

                <div id="invoiceList" class="card-body collapse show" style="padding-left: 20px;">
                    <table id="invoiceTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @LanguagePack.InvoiceIndexDocumentNumberPlaceholder
                                </th>
                                <th>
                                    @LanguagePack.InvoiceIndexPrescriptionDateLabel
                                </th>
                                <th>
                                    @LanguagePack.InvoiceIndexReceiverCompanyLabel
                                </th>
                                <th>
                                    @LanguagePack.InvoiceIndexPaymentDateLabel
                                </th>
                                <th>
                                    @LanguagePack.InvoiceIndexSenderCompanyLabel
                                </th>
                                <th>
                                    @LanguagePack.InvoiceIndexReceiverCompanyLabel
                                </th>
                                <th>
                                    <input id="numOfRecords" type="number" class="form-control" value="10" />
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Invoice")