@using WebClient.Resources.Language_Files
@model Core.Model.Login
@{ViewBag.Title = "Login";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                @LanguagePack.Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @LanguagePack.Password
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, LanguagePack.Error2, new { @style = "color: red" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 col-md-10">
                    <input type="submit" value=@LanguagePack.LogIn class="btn"/>
                </div>
            </div>
        </div>
    </div>
}
