@model Core.Model.Element

<tr>
    @Html.HiddenFor(model => model.Item_ID)
    @Html.HiddenFor(model => model.Item.ID)
    @Html.HiddenFor(model => model.Item.Product_ID)
    @Html.HiddenFor(model => model.Item.Product.ID)
    @Html.HiddenFor(model => model.Item.Product.ProductGroup_ID)
    @Html.HiddenFor(model => model.Item.Product.ProductGroup.ID)
    <td>@Html.EditorFor(model => model.Item.Product.Name, new {htmlAttributes = new {@class = "form-control", @required = "required"}})</td>
    <td>@Html.EditorFor(model => model.Item.Product.Barcode, new {htmlAttributes = new {@class = "form-control", @required = "required"}})</td>
    <td>@Html.EditorFor(model => model.Item.SerNumber, new {htmlAttributes = new {@class = "form-control"}})</td>
    <td>@Html.EditorFor(model => model.Item.Product.ProductGroup.Name, new {htmlAttributes = new {@class = "form-control", @list = "ProductGroups", @required = "required"}})</td>
    <td>@Html.EditorFor(model => model.Item.Price, new {htmlAttributes = new {@class = "form-control", @required = "required", @type = "number", @min = "0", @step = "0.01", @value = "0"}})</td>
    <td>@Html.EditorFor(model => model.Item.Product.ProductGroup.Tax, new {htmlAttributes = new {@class = "form-control", @required = "required"}})</td>
    <td><input type="number" class="form-control" value="0"/></td>
    <td><input type="button" class="btn btn-danger btn-block" value="Delete" onclick="window.location.href = 'https://stackoverflow.com'"/></td>
</tr>